@model Liaison.Web.Asp.Controllers.NewThing

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("SaveNewAirForceBase", "Orbat"))
    {
        <table>
            <tr>
                <td colspan="2">
                    @Html.EditorFor(m=>Model.Number)
                </td>
                <td>@Html.EditorFor(m=>m.Mission)</td>
            </tr>
            @for (int i = 0; i < Model.Things.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(f => Model.Things[i].Name)
                        @Html.LabelFor(f => Model.Things[i].Code, Model.Things[i].Code)
                    </td>
                    <td></td>
                    <td>
                        @Html.EditorFor(f => Model.Things[i].Create)
                    </td>
                </tr>
                for (int j = 0; j < Model.Things[j].NewSqdrns.Count; j++)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.HiddenFor(g => Model.Things[i].NewSqdrns[j].Name)
                            @Html.LabelFor(g => Model.Things[i].NewSqdrns[j].Code, Model.Things[i].NewSqdrns[j].Code)
                        </td>
                        <td>
                            @Html.EditorFor(f => Model.Things[i].NewSqdrns[j].Create)
                        </td>
                    </tr>
                }
            }


        </table>
    
        <input type="submit" name="SaveNewAirForceBase" value="Save Draft"/>
    }
</div>
</body>
</html>