@model Liaison.BLL.Models.NewThing

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SaveNewAirForceBase", "Orbat"))
    {
        <table>
            <tr>
                <td colspan="1">
                    @Html.LabelFor(m => Model.Number)
                    @Html.EditorFor(m => Model.Number)
                </td>
                <td>
                    @Html.LabelFor(m => m.Mission)
                    @Html.EditorFor(m => m.Mission)
                </td>
                <td>
                    @Html.LabelFor(m=>m.BaseId)
                    @Html.EditorFor(m=>m.BaseId)
                </td>
                <td>
                    @Html.LabelFor(m=>m.ServiceType)
                    @Html.DropDownListFor(m=>m.ServiceType, Model.ServiceTypeOptions)
                </td>
                <td>
                    @Html.LabelFor(m=>m.TerritorialDesignation)
                    @Html.EditorFor(m=>m.TerritorialDesignation)
                </td>
            </tr>
        </table>
        <table>
            @for (var i = 0; i < Model.Things.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(f => Model.Things[i].Code)
                    @Html.HiddenFor(f => Model.Things[i].Name)
                    @Html.LabelFor(f => Model.Things[i].Code, Model.Things[i].Code)
                </td>
                <td></td>
                <td>
                    @Html.EditorFor(f => Model.Things[i].Create)
                </td>
            </tr>
        for (var j = 0; j < Model.Things[i].NewSqdrns.Count; j++)
        {
            <tr>
                <td></td>
                <td>
                    @Html.HiddenFor(g => Model.Things[i].NewSqdrns[j].Code)
                    @Html.HiddenFor(g => Model.Things[i].NewSqdrns[j].Name)
                    @Html.LabelFor(g => Model.Things[i].NewSqdrns[j].Code, Model.Things[i].NewSqdrns[j].Code)
                </td>
                <td>
                    @Html.EditorFor(f => Model.Things[i].NewSqdrns[j].Create)
                </td>
            </tr>
    }
}


        </table>

        <input type="submit" name="SaveNewAirForceBase" value="Save Draft" />
}
    </div>
</body>
</html>